.Cultural {
  .Banner {
    width: 100%;
    height: 350px;
    margin-top: 3px;
    background: url("~@/assets/images/dangshixx01.jpg") no-repeat;
    background-position: center;
  }

  .Content {
    width: 1030px;
    margin: 0 auto;

    .News {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .NewsCover {
        position: relative;
        width: 565px;
        height: 365px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .NewsCoverInfo {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: space-between;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 25px;
          background: rgba(0, 0, 0, .8);
          color: #fff;
          font-size: 14px;
          padding: 0 10px;

          span {
            width: 350px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          a {
            background: #D7B16A;
            width: 50px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border-radius: 3px;
            color: #FFF;
          }
        }
      }

      .NewsList {
        display: flex;
        flex-direction: column;
        width: 445px;

        li {
          display: flex;
          align-items: center;
          width: 100%;
          height: 60px;
          line-height: 60px;
          border-bottom: solid #E8E8E8 1px;

          a {
            width: 100%;
            height: 100%;
            padding-right: 60px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .Navigation {
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      color: #333;

      &:hover {
        color: #008CD1;
      }
    }

    .ImgHref {
      width: 100%;
      margin-top: 20px;
    }

    .Title {
      display: flex;
      justify-content: space-between;
      height: 40px;
      margin-top: 20px;
      line-height: 40px;
      border-bottom: solid #DF2C27 1px;

      .Text {
        display: flex;

        img {
          height: 40px;
        }

        a {
          font-size: 28px;
          color: #DF2C27;
          line-height: 40px;
          font-weight: bold;
          padding: 0px 5px;
        }
      }

      .More {
        margin-right: 5px;
        color: #DF2C27;
        font-size: 14px;
      }
    }

    .Dynamic {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      ul {
        display: flex;
        width: 100%;

        .ImgTop1 {
          margin: 20px 0;

          img {
            margin-right: 25px;
          }
        }

        .ImgTop2 {
          margin: 20px 0;

          img {
            margin-left: 25px;
          }
        }

        li {

          a {
            display: block;
            height: 35px;
            padding-right: 20px;
            line-height: 35px;
            font-size: 14px;
            color: #333;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .Newlist {
      display: flex;
      flex-wrap: wrap;

      li {
        display: flex;
        align-items: center;
        width: 490px;

        &:nth-child(2n) {
          margin-left: 50px;
        }

        a {
          display: block;
          width: 100%;
          height: 35px;
          padding-right: 20px;
          line-height: 35px;
          font-size: 14px;
          color: #333;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .Blank {
    height: 40px;
  }
}
